= render "shared/single-header"

.single-main
  %h2 会員情報入力
  .single-main__inner
    .single-main__inner--content
      = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
        = devise_error_messages!

        .required-text 
          ニックネーム
          %span 必須 
          %br
          = f.text_field  :nickname, autofocus: true, maxlength: "6", class: 'single-form', placeholder: "例)フリマ太郎"

        .required-text 
          メールアドレス
          %span 必須
          %br
          = f.email_field :email, class: 'single-form', placeholder: "PC・携帯どちらでも可"

        .required-text 
          パスワード
          %span 必須
          %br
          - if @validatable
            %br
          = f.password_field :password, autocomplete: "off", class: 'single-form', placeholder: "６文字以上"

        .required-text 
          パスワード（確認)
          %span 必須
          %br
          = f.password_field :password_confirmation, autocomplete: "off", class: 'single-form', placeholder: "６文字以上"

          = f.submit "次へ進む", class: "btn btn-mail"

= render "shared/single-footer"