.single-container
  = render "shared/single-header"
  .single-main
    %h2 住所入力
    .single-main__inner
      .single-main__inner--content
        = form_for @user, url: step5_signup_index_path, method: :get do |f|
          = f.fields_for :addresses do |a|
            = hidden_field_tag :current_step, 'step4'
            .required-text 
              郵便番号
              %span 必須
            = a.text_field :postal, placeholder: "例)1231234", class: "single-form"
            .required-text 
              都道府県
              %span 必須
            = a.text_field :prefecture, placeholder: "例)北海道", class: "single-form"
            .required-text 
              市区町村
              %span 必須
            = a.text_field :city, placeholder: "例)横浜市緑区", class: "single-form"
            .required-text 
              その他住所
              %span 必須
            = a.text_field :address, placeholder: "例)青山1−1−1", class: "single-form"
            .any-text 
              建物名
              %span 任意
            = a.text_field :building, placeholder: "例)TECHビル103", class: "single-form"
            
            = f.submit "次へ進む", class: "btn btn-mail"

  = render "shared/single-footer"