= form_for @user, url: complete_signup_signup_index_path do |f|
  = hidden_field_tag :current_step, 'step2'

  = f.label :family_name, "お名前(全角)"
  = f.text_field :family_name
  = f.text_field :last_name

  = f.label :family_name_kana, "お名前カナ(全角)"
  = f.text_field :family_name_kana
  = f.text_field :last_name_kana

  = f.label :birthdate, "生年月日"
  = f.text_field :birthdate_year
  = f.text_field :birthdate_month
  = f.text_field :birthdate_day

  = f.fields_for :addresses do |a|

    = a.label :postal, "郵便番号"
    = a.text_field :postal

    = a.label :prefecture, "都道府県"
    = a.text_field :prefecture

    = a.label :city, "市区町村"
    = a.text_field :city

    = a.label :address, "その他住所"
    = a.text_field :address

    = a.label :building, "建物名"
    = a.text_field :building

    = f.submit '登録を完了する'