.single-container
  = render "shared/single-header"
  .single-main
    %h2 会員情報入力
    .single-main__inner
      .single-main__inner--content
        = form_for @user, url: step3_signup_index_path, method: :get do |f|
          = hidden_field_tag :current_step, 'step2'
          .required-text 
            ニックネーム
            %span 必須 
          = f.text_field :nickname, placeholder: "例)フリマ太郎", class: "single-form"
          .required-text 
            メールアドレス
            %span 必須 
          = f.text_field :email, placeholder: "PC・携帯どちらでも可", class: "single-form"
          .required-text 
            パスワード
            %span 必須 
          = f.password_field :password, placeholder: "６文字以上", class: "single-form"
          .required-text 
            パスワード(確認)
            %span 必須 
          = f.password_field :password_confirmation, placeholder: "６文字以上", class: "single-form"


       
        .required-text 
          パスワード
          %span 必須
        %input.single-form.login-input-text{name: "email", placeholder: "６文字以上", type: "email", value: ""}/
        .required-text 
          パスワード（確認)
          %span 必須
        %input.single-form.login-input-text{name: "email", placeholder: "６文字以上", type: "email", value: ""}/
      
        = link_to "次へ進む", "/registration/:id/telephone", class: "btn btn-mail"


    = form_for @user, url: step3_signup_index_path, method: :get do |f|
      = hidden_field_tag :current_step, 'step2'



      = f.label :password, "パスワード"
      = f.password_field :password

      = f.label :password, "パスワード(確認)"
      = f.password_field :password_confirmation

      = f.label :family_name, "お名前(全角)"
      = f.text_field :family_name
      = f.text_field :last_name

      = f.label :family_name_kana, "お名前カナ(全角)"
      = f.text_field :family_name_kana
      = f.text_field :last_name_kana

      = f.label :birthday, "生年月日"
      = f.text_field :birthday_year
      = f.text_field :birthday_month
      = f.text_field :birthday_day

      = f.submit "次へ進む"
  = render "shared/single-footer"

