.exhibit
  = link_to exhibit_path(exhibit.id),data: {"turbolinks" => false} do
    %figure.exhibit__box
      .img_exhibit

      - if exhibit.images.present?
        = image_tag "#{exhibit.images[-1].src}", class:'pickup-exhibit__img'
        .img_title
          %p.img_price
            ="¥#{exhibit.price}"
      - else
        = image_tag "28926661.jpg", class:'pickup-exhibit__img'
        .img_title
          %p.img_price
            ="¥#{exhibit.price}"
      
      -if exhibit.status == 2
        .items-sold
          .items-sold__inner
            SOLD
      %figcaption.text__box
        %span 
          = exhibit.name
      





