.single-container
  = render "shared/single-header"
  .pur-main
    .pur-main__inner
      %h2 購入内容の確認
    .pur-main__inner
      .pur-main__inner--content
        .purchase-image
          = image_tag "#{@exhibit.images[-1].src}",size: "50x50"
        .purchase-text
          = @exhibit.name
          = "¥#{@exhibit.price}  (税込) 送料込み "

    .pur-main__inner
      .pur-main__inner--content
        .pur-left
          支払い金額
        .pur-right
          = "¥#{@exhibit.price}"
        
    .pur-main__inner
      .pur-main__inner--content      
        .pur-left
          支払い方法
        .pur-right
          変更する
      .pur-main__inner--text
        クレジットカード
        %br
        = "**** **** **** " + @default_card_information.last4
        %br
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year

    .pur-main__inner
      .pur-main__inner--content
        .pur-left
          配送先
        .pur-right 
          変更する
      .pur-main__inner--text
        -# = @address.postal
        名古屋市名駅ああああああ
        山本 拓哉

    
    .pur-main__inner
      .pur-main__inner--content
        = form_tag(action: :pay, method: :post) do
          %button 購入する
        
  = render "shared/single-footer"