.single-container
  = render "shared/single-header"
  .pur-main
    .pur-main__inner
      %h2 購入完了
    .pur-main__inner
      .pur-main__inner--content
        .purchase-image
          = image_tag "#{@exhibit.images[-1].src}",size: "50x50"
        .purchase-text
          = @exhibit.name
          %br
          = "¥#{@exhibit.price}  (税込) 送料込み "
    
    .pur-main__inner
      .pur-main__inner--content
        購入が完了しました。
        %br ご利用ありがとうございました。

    
    .pur-main__inner
      .pur-main__inner--content
        =link_to "購入完了", root_path,class:"btn-back"
        
  = render "shared/single-footer"