= render 'products/header'
.d-container
  
  .d-main
    .d-product
      %h1= @exhibit.name
    .d-image
      %ul.slick
        - @exhibit.images.each do |image|
          %li= image_tag image.src.url, size: "300x300", alt: @exhibit.images.ids
      %ul.thumb
        - @exhibit.images.each do |image|
          %li= image_tag image.src.url, size: "60x60", alt: @exhibit.images.ids

    %table.d-table
      %tbody
        %tr
          %th 出品者
          %td= @exhibit.user.nickname
        %tr
          %th カテゴリー
          %td= @exhibit.category.name
        %tr
          %th 商品の状態
          %td= @exhibit.condition.name
        %tr
          %th 配送料の負担
          %td= @exhibit.delicharge.name
        %tr
          %th 配送の方法
          %td 未定
        %tr
          %th 配送元地域
          %td= @exhibit.shipfrom.name
        %tr
          %th 発送日の目安
          %td= @exhibit.delidate.name
   
    .d-price
      = "¥#{@exhibit.price}"
      %span#tax (税込) 
      %span#postage 送料込み
      %br

      - if @exhibit.status == 2
        = link_to '売り切れました', root_path, class: "btn btn-current"
      - elsif @exhibit.user_id == current_user.id
        = link_to '編集', edit_exhibit_path(@exhibit), class: "btn btn-current"
        = link_to '削除', exhibit_path(@exhibit), method: :delete, class: "btn btn-current"
      - else
        = link_to "購入画面に進む", buy_exhibit_path(@exhibit), class: "btn btn-buy"
   
    .d-text= @exhibit.detail

  .user-item
    .user-item__title
      = @exhibit.user.nickname
      さんのその他の出品
    
.user-item__box
  = render @exhibits, id:"article_lists"
  -# .exhibit
    
  -#   %figure.exhibit__box
  -#     .img_exhibit
  -#     - if @exhibit.images.present?
  -#       = image_tag "#{@exhibit.images[-1].src}", class:'pickup-exhibit__img'
  -#       .img_title
  -#         %p.img_price
  -#           ="¥#{@exhibit.price}"
  -#     - else
  -#       = image_tag "28926661.jpg", class:'pickup-exhibit__img'
  -#       .img_title
  -#         %p.img_price
  -#           ="¥#{exhibit.price}"
  -#     %figcaption.text__box
  -#       %span 
  -#         = @exhibit.name

= render 'products/footer'