= render "products/header"

.c-p
  .c-page
    .side_bar
      = render "products/side_bar"

    .cp      
      .cp-pay
        支払い方法
      .cp-info
        .cp-chapter 
          クレジットカード一覧
        .cp-payment-tag
          .cp-payment-tag-v
            = image_tag("VISA.png",height:"100%", width:"45px")
          .cp-payment-num ************4321
          .cp-payment-num 12 / 20
          %input{name: "method", type: "hidden", value: "card"}/
          %button.cp-payment-remove{type: "submit"}
            削除する
        .cp-regist
          = link_to "支払い方法について ＞", "#", class: "cp-regist-p"
          %i.icon-arrow-right


          %br
          = "**** **** **** " + @default_card_information.last4
          %br
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
          = form_tag("#", method: :post, id: 'charge-form',  name: "inputForm") do
            %input{ type: "hidden", name: "card_id", value: "" }
            %button 削除する

= render "products/footer"
