= render "products/header"
- breadcrumb :logout
= render "shared/breadcrumb"
.l-p
  .l-page
    .side_bar
      = render "products/side_bar"

    .lp      
      .lp-info
        .lp-info-lo
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "lp-info-lot"

= render "products/footer"
